*

!.gitignore
!boss_heads/*
!Details/*
!Details_DpsTuning/*
!Details_EncounterDetails/*
!Details_DataStorage/*
!Details_RaidInfo-ChamberOfAspects/*
!Details_RaidInfo-EoE/*
!Details_RaidInfo-Naxx/*
!Details_RaidInfo-ToC/*
!Details_RaidInfo-Ulduar/*
!Details_TinyThreat/*
!/Details_RaidCheck/*
!API.txt
!API UI.txt
